@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Varela+Round&display=swap');

:root {
  --cyan-process: #30bcedff;
  --blue-ncs: #4087a9ff;
  --independence: #4f5165ff;
  --dark-liver: #474044ff;
  --charleston-green: #293132ff;
  --chocolate-web: #d96c06ff;
  --carrot-orange: #f18f01ff;
  --wheat: #ead2acff;
  --papaya-whip: #ffefd3ff;
}

* {
  background-color: var(--charleston-green);
  color: var(--papaya-whip);
  font-family: 'Varela Round', 'sans-serif';
  
}

.title {
  color: orange !important;
  font-family: 'Pacifico', 'cursive';
  font-size: 40px;
}



.subtitle {
  font-family: 'Pacifico', 'cursive';
}


